@model NetCoreMVC.Models.DBModel.dbUser

<h3>這是Partial的開始</h3>
<h4>dbUser</h4>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.EmpNo)
            </td>
            <td>
                @Html.DisplayFor(model => model.Phone)
            </td>
            <td>
                @Html.DisplayFor(model => model.Adress)
            </td>

        </tr>
    </tbody>
</table>
